## データの結合

In [1]:
import pandas as pd

In [2]:
t1301 = pd.read_json(
    "https://github.com/drillan/bizpy/raw/main/20201111/data/1301.json"
)
t1401 = pd.read_json(
    "https://github.com/drillan/bizpy/raw/main/20201111/data/1401.json"
)
listed_companies_01 = pd.read_pickle(
    "https://github.com/drillan/bizpy/blob/main/20201111/data/listed_companies_01.pickle?raw=true"
)

結合するためのキーとなる証券コードの列を追加

In [3]:
t1301["ticker"] = "1301"
t1401["ticker"] = "1401"

In [4]:
t1301.iloc[:, -3:]

   fiscal_year  fiscal_quarter ticker
0         2018               1   1301
1         2018               2   1301

In [5]:
t1401.iloc[:, -3:]

   fiscal_year  fiscal_quarter ticker
0         2018               1   1401
1         2018               2   1401

In [6]:
listed_companies_01.head()

,日付,コード,銘柄名,市場・商品区分,33業種コード,33業種区分,17業種コード,17業種区分,規模コード,規模区分
0,20201030,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
62,20201030,1401,エムビーエス,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-
271,20201030,1801,大成建設,市場第一部（内国株）,2050,建設業,3,建設・資材,4,TOPIX Mid400
368,20201030,2001,日本製粉,市場第一部（内国株）,3050,食料品,1,食品,6,TOPIX Small 1
450,20201030,2201,森永製菓,市場第一部（内国株）,3050,食料品,1,食品,4,TOPIX Mid400

### DataFrameを縦に結合

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#concatenating-objects

In [7]:
quarter = pd.concat([t1301, t1401])
quarter.iloc[:, -3:]

   fiscal_year  fiscal_quarter ticker
0         2018               1   1301
1         2018               2   1301
0         2018               1   1401
1         2018               2   1401

fiscal_year列とfiscal_quarter列を結合した列を追加

In [8]:
fyq = quarter.apply(
    lambda x: f"{x['fiscal_year']}Q{x['fiscal_quarter']}", axis=1
)
fyq

0    2018Q1
1    2018Q2
0    2018Q1
1    2018Q2
dtype: object

In [9]:
quarter["fiscal_year_quarter"] = fyq
quarter.iloc[:, -4:]

   fiscal_year  fiscal_quarter ticker fiscal_year_quarter
0         2018               1   1301              2018Q1
1         2018               2   1301              2018Q2
0         2018               1   1401              2018Q1
1         2018               2   1401              2018Q2

### DataFrameを横に結合

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging

In [10]:
merged_quarter = pd.merge(
    left=quarter, right=listed_companies_01, left_on="ticker", right_on="コード"
)
merged_quarter.head()

,company_name,ceo_name,headquarters_address,end_date,updated_date,edinet_updated_date,tdnet_updated_date,edinet_title,tdnet_title,accounting_standard,...,日付,コード,銘柄名,市場・商品区分,33業種コード,33業種区分,17業種コード,17業種区分,規模コード,規模区分
0,株式会社 極洋,代表取締役社長 井 上 誠,東京都港区赤坂三丁目３番５号,2018-06-30T00:00:00.000Z,2018-08-10T13:13:00.000Z,2018-08-10T13:13:00.000Z,2018-08-03T11:30:00.000Z,【E00012】株式会社 極洋 四半期報告書－第96期第1四半期(平成30年4月1日－平成3...,【13010】株式会社 極洋 平成31年3月期 第1四半期決算短信〔日本基準〕(連結),Japan GAAP,...,20201030,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
1,株式会社 極洋,代表取締役社長 井 上 誠,東京都港区赤坂三丁目３番５号,2018-09-30T00:00:00.000Z,2018-11-06T14:37:00.000Z,2018-11-06T14:37:00.000Z,2018-11-05T11:30:00.000Z,【E00012】株式会社 極洋 四半期報告書－第96期第2四半期(平成30年7月1日－平成3...,【13010】株式会社 極洋 平成31年3月期 第2四半期決算短信〔日本基準〕(連結),Japan GAAP,...,20201030,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
2,株式会社エムビーエス,代表取締役社長 山 本 貴 士,山口県宇部市西岐波1173番地162,2018-08-31T00:00:00.000Z,2018-10-12T16:05:00.000Z,2018-10-12T16:05:00.000Z,2018-10-12T16:00:00.000Z,【E00323】株式会社エムビーエス 四半期報告書－第22期第1四半期(平成30年6月1日－...,【14010】株式会社エムビーエス 2019年５月期第１四半期決算短信〔日本基準〕（非連結）,Japan GAAP,...,20201030,1401,エムビーエス,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-
3,株式会社エムビーエス,代表取締役社長 山 本 貴 士,山口県宇部市西岐波1173番地162,2018-11-30T00:00:00.000Z,2019-01-11T16:34:00.000Z,2019-01-11T16:34:00.000Z,2019-01-11T16:30:00.000Z,【E00323】株式会社エムビーエス 四半期報告書－第22期第2四半期(平成30年9月1日－...,【14010】株式会社エムビーエス 2019年５月期第２四半期決算短信〔日本基準〕(非連結),Japan GAAP,...,20201030,1401,エムビーエス,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-

In [11]:
merged_quarter.columns

Index(['company_name', 'ceo_name', 'headquarters_address', 'end_date',
       'updated_date', 'edinet_updated_date', 'tdnet_updated_date',
       'edinet_title', 'tdnet_title', 'accounting_standard',
       ...
       '日付', 'コード', '銘柄名', '市場・商品区分', '33業種コード', '33業種区分', '17業種コード', '17業種区分',
       '規模コード', '規模区分'],
      dtype='object', length=203)

indexをticker列とfiscal_year_quarter列を結合した値に更新

In [12]:
ix = merged_quarter.apply(
    lambda x: f"{x['ticker']}-{x['fiscal_year_quarter']}", axis=1
)
ix

0    1301-2018Q1
1    1301-2018Q2
2    1401-2018Q1
3    1401-2018Q2
dtype: object

In [13]:
merged_quarter.index = ix
merged_quarter.head()

,company_name,ceo_name,headquarters_address,end_date,updated_date,edinet_updated_date,tdnet_updated_date,edinet_title,tdnet_title,accounting_standard,...,日付,コード,銘柄名,市場・商品区分,33業種コード,33業種区分,17業種コード,17業種区分,規模コード,規模区分
1301-2018Q1,株式会社 極洋,代表取締役社長 井 上 誠,東京都港区赤坂三丁目３番５号,2018-06-30T00:00:00.000Z,2018-08-10T13:13:00.000Z,2018-08-10T13:13:00.000Z,2018-08-03T11:30:00.000Z,【E00012】株式会社 極洋 四半期報告書－第96期第1四半期(平成30年4月1日－平成3...,【13010】株式会社 極洋 平成31年3月期 第1四半期決算短信〔日本基準〕(連結),Japan GAAP,...,20201030,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
1301-2018Q2,株式会社 極洋,代表取締役社長 井 上 誠,東京都港区赤坂三丁目３番５号,2018-09-30T00:00:00.000Z,2018-11-06T14:37:00.000Z,2018-11-06T14:37:00.000Z,2018-11-05T11:30:00.000Z,【E00012】株式会社 極洋 四半期報告書－第96期第2四半期(平成30年7月1日－平成3...,【13010】株式会社 極洋 平成31年3月期 第2四半期決算短信〔日本基準〕(連結),Japan GAAP,...,20201030,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2
1401-2018Q1,株式会社エムビーエス,代表取締役社長 山 本 貴 士,山口県宇部市西岐波1173番地162,2018-08-31T00:00:00.000Z,2018-10-12T16:05:00.000Z,2018-10-12T16:05:00.000Z,2018-10-12T16:00:00.000Z,【E00323】株式会社エムビーエス 四半期報告書－第22期第1四半期(平成30年6月1日－...,【14010】株式会社エムビーエス 2019年５月期第１四半期決算短信〔日本基準〕（非連結）,Japan GAAP,...,20201030,1401,エムビーエス,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-
1401-2018Q2,株式会社エムビーエス,代表取締役社長 山 本 貴 士,山口県宇部市西岐波1173番地162,2018-11-30T00:00:00.000Z,2019-01-11T16:34:00.000Z,2019-01-11T16:34:00.000Z,2019-01-11T16:30:00.000Z,【E00323】株式会社エムビーエス 四半期報告書－第22期第2四半期(平成30年9月1日－...,【14010】株式会社エムビーエス 2019年５月期第２四半期決算短信〔日本基準〕(非連結),Japan GAAP,...,20201030,1401,エムビーエス,マザーズ（内国株）,2050,建設業,3,建設・資材,-,-